* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #21222A;
}

.logoFlex {
  display: flex;
}

.logo {
  width: 40px;
}

.logoTxt{
  align-self: center;
  color: #61DAFB;
}

h4{
  color: #DEEBF8;
}

main {
  background: #282D35 url("./images/react-icon-bg.png") no-repeat right 40%;
  height: 630px;
  color: #fff;
}

.factsList >li::marker{
  font-size: 2rem;
  color: #61DAFB;
}